*{
    background-color: #F3F5FC;
    font-family: 'Inter';
    font-style: normal;
}
body{
    width: 100vw;
    margin: 0;
}
header{
    height: 5vh;
}
main{
    height: 94vh;
    display: flex;
}

svg{
    margin-right: 8px;
}

.btn, .btn-disabled{
    height: 3.5em;
    border-radius: 24px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #0A3871;
    background: #D8E1EE;
    color: #0A3871;
    line-height: 19.36px;
    font-size: 16px;
    font-weight:400;   
}

.alerta {
    background-color: #87CEEB; 
    color: #FFFFFF; 
    padding: 10px; 
    text-align: center; 
    font-size: 24px;
  }

.logo{
    margin-top: 2%;
    margin-left: 3%;
    position: relative;
    z-index: 1;
}

#contenedor1{
    flex-basis: 50%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}

#contenedor2{
    flex-basis: 30%;
    border-radius: 32px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    position: relative;
    z-index: 1;
}

.input{
    border: none;
    outline: none;
    font-size: 32px;
    line-height: 48px;
    margin-top: 40px;
    margin-right: 18%;
    padding: 0;
    height: 100%;
}

.input::placeholder{
    color: #0A3871;   
    font-size: 32px;
    line-height: 150%; 
}

.output{
    background: white;
    color: #495057;
    width: 60%;
    height: 80%;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
    display: block;
    font-size: 24px;
    line-height: 36px;
    overflow: hidden;
    word-wrap: break-word;
}

.vacio{
    background-color: white;
    margin-top: 30%;
    width: 50%;
}

.information{
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    color:#495057;
    opacity: 0.8;
}

.btn-block{
    display: flex;
    margin-bottom: 20px;
}
  
#btn-encriptar{
    flex-basis: 40%;
    text-align: center;
}

#btn-desencriptar{
    flex-basis: 40%;
    text-align: center;
    margin-left: 4%;
}

#btn-copiar{
    flex-basis: 70px;
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}

.btn:hover{
    background: #0A3871;
    color: #FFFFFF;    
}

.line-1{
    width: 30%;
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    background-color: white;
    color: #343A40;
}

.line-2{
    height: 48px;
    font-size: 16px;
    line-height: 24px;  
    background-color: white;
    margin-top: 16px;
}

@media screen and (max-width: 1000px) {
    main{
        flex-direction: column;
        align-items: center;
    }

    .contenedor {
      display: flex;
      flex-basis: 100%;  
      width: 80%;
    }

    #contenedor1, #contenedor2{
        margin-left: 0;
        margin-right: 0;
    }

    .input{
        margin-right: 0;
        width: 100%;
    }

    .output{
        height: auto;
    }

    .btn-block{
        justify-content: center;
    }

    #btn-encriptar, #btn-desencriptar{
        flex-basis: auto;
        width: 48%;
    }

    #btn-copiar{
        flex-basis:auto;
        width: 80%;
    }

    #img{
        display: none;        
    }
  }

  @media screen and (max-width: 500px) {
    .btn-block{
        flex-direction: column;
        align-items: center;
    }

    #btn-encriptar, #btn-desencriptar {
      width: 100%;
      margin-bottom: 5%;
      margin-left: 0;
    }
  }